
<div class="row">
<div class="nav">
    <ul>
        <li>Home</li>
        
        <li>Home</li>
        
        <li>Home</li>
        
        <li>Home</li>
        
        <li>Home</li>
        
        <li>Home</li>
        
        <li>Home</li>
        
        <li>Home</li>
        
        <li>Home</li>
        
        <li>Home</li>
        
        <li>Home</li>
        
        <li>Home</li>
        
        <li>Home</li>
        
        <li>Home</li>
        
    </ul>
</div>

<router-outlet></router-outlet>

</div>