.neonText {
    color: #fff;
    text-shadow:
      0 0 3px #fff,
      0 0 3px #fff,
      0 0 4px #fff,
      0 0 22px #2c2c2c,
      0 0 42px #414141,
      0 0 42px #f3f3f3,
      0 0 42px #252525,
      0 0 11px #535455;
  }
  .imageback{
    background-image: url('/assets/images/img-3.png'); /* Adjust the path based on your project structure */
    background-color:white;
    opacity: 0.12;
    position:absolute;
    width:100%;
    height:100%;

  }
    #scroll-history{
      overflow-y: scroll;
      height:500px;
    }

  input::placeholder{
    position:relative;
    color:black;
    font-weight: 500;
    font-style: italic;
  }
  .buttonSub{
    margin-left:40%;
    width:250px;
  margin-top:-30%;
    background-color:transparent;
    
    border:0px;
  }
  .login{
    font-size:40px;
    color: #fff;
    text-shadow:
      0 0 3px #fff,
      0 0 3px #fff,
      0 0 4px #fff,
      0 0 22px #779556,
      0 0 42px #779556,
      0 0 42px #779556,
      0 0 42px #779556,
      0 0 11px #779556;
      margin-top:45%;
      margin-left:33%;

      position: relative;
    
  }
  .login:hover{
    text-shadow:
    0 0 3px #c2c1c1,
    0 0 3px #cecbcb,
    0 0 4px #fff,
    0 0 22px #99ee3e,
    0 0 42px #62665e,
    0 0 42px #2a2c29,
    0 0 42px #444642,
    0 0 11px #2e2e2e;
    margin-top:45%;
    margin-left:33%;
  }